@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

h1 {
    font-family: Pacifico;
}

header {
    border-bottom: 3px solid black;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 150px;
}

header ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: black;
}