

/* Mobile code */

/* =================================== */
/* Media Query Breakpoints      */
/* =================================== */

/* For mobile devices (portrait) */
@media only screen and (max-width: 600px) {

.homeImgContaner1{
    display: flex;
    justify-content: center; 
    align-items: center;

    margin: 30px;
}

.homeImg1{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeRow2{
    gap: 20px ;
    margin-left: 5vw;
    margin-right: 5vw;

}

.homeImg2{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeText1{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    margin-top: 20px;

  
}

.homeRow3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.homeText2{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;

    width: 50vw;
  
}

.homeText3{
    background-color: #3F4E78 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 50vw;

  
}

.homeText4{
    background-color: #2B2B2B ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 50vw;
}
}

/* For tablets (portrait & landscape) and large phones */
@media only screen and (min-width: 601px) and (max-width: 768px) {

.homeImgContaner1{
    display: flex;
    justify-content: center; 
    align-items: center;

    margin: 30px;
}

.homeImg1{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeRow2{
    gap: 20px ;
    margin-left: 5vw;
    margin-right: 5vw;

}

.homeImg2{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeText1{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    margin-top: 20px;

  
}

.homeRow3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.homeText2{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;

    width: 50vw;
  
}

.homeText3{
    background-color: #3F4E78 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 50vw;

  
}

.homeText4{
    background-color: #2B2B2B ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 50vw;
}

}

/* For small desktops and tablets (landscape) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
.homeImgContaner1{
    display: flex;
    justify-content: center; 
    align-items: center;

    margin: 30px;
}

.homeImg1{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeRow2{
    gap: 20px ;
    margin-left: 5vw;
    margin-right: 5vw;

}

.homeImg2{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeText1{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    margin-top: 20px;

  
}

.homeRow3{
    display: flex;
    flex-direction: row;
    gap: 80px;

    margin: 30px;

    justify-content: center;
}

.homeText2{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;

    width: 25vw;
  
}

.homeText3{
    background-color: #3F4E78 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 25vw;

  
}

.homeText4{
    background-color: #2B2B2B ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 25vw;
}
}

/* For standard desktops */
@media only screen and (min-width: 993px) and (max-width: 1200px) {

.homeImgContaner1{
    display: flex;
    justify-content: center; 
    align-items: center;

    margin: 30px;
}

.homeImg1{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeRow2{
    display: flex;
    gap: 20px ;
    margin-left: 5vw;
    margin-right: 5vw;

}

.homeImg2{
    width: 60vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeText1{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
  
}

.homeRow3{
    display: flex;
    flex-direction: row;
    gap: 80px;

    margin: 30px;

    justify-content: center;
}

.homeText2{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;

    width: 25vw;
  
}

.homeText3{
    background-color: #3F4E78 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 25vw;

  
}

.homeText4{
    background-color: #2B2B2B ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 25vw;
}

}

/* For large desktops */
@media only screen and (min-width: 1201px) {

    .homeImgContaner1{
    display: flex;
    justify-content: center; 
    align-items: center;

    margin: 30px;
}

.homeImg1{
    width: 90vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeRow2{
    display: flex;
    gap: 20px ;
    margin-left: 5vw;
    margin-right: 5vw;

}

.homeImg2{
    width: 60vw;
    height: 40vh;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:30px ;
}

.homeText1{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
  
}

.homeRow3{
    display: flex;
    flex-direction: row;
    gap: 80px;

    margin: 30px;

    justify-content: center;
}

.homeText2{
    background-color: #1F3A34 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;

    width: 25vw;
  
}

.homeText3{
    background-color: #3F4E78 ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 25vw;

  
}

.homeText4{
    background-color: #2B2B2B ;
    border-radius: 30px;
    padding: 20px;
    color: #F4EFE6;
    text-align: center;
    width: 25vw;
}

}