body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.page img {
    width: 95vw;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}


