body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.page h1 {
    font-size: 25px;
    margin: 10px;
}

.topImg {
    width: 95vw;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.books {
    width: 95vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}


.book {
    position: relative;
    color: white;
}

.book img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.book section {
    position: absolute;
    background-color: #1F3A34;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 125px;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
}

.book h1 {
    font-size: 15px;
    height: 15px;
}

.book p {
    font-size: 10px;
    height: 15px;
}


