/* Centers all content on screen */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* Image at the top of page and below header */
.topImg {
    width: 95vw;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.boxes {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.boxes section {
    width: 30vw;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boxes h1 {
    font-size: 25px;
    margin: 10px;
}

.box1 {
    background-color: #F4EFE6;
    font-size: 18px;

}

.box2 {
    background-color: #1F3A34;
    color: #F4EFE6;
    font-size: 18px;

}

.box3 {
    background-color: #3F4E78;
    color: #F4EFE6;
    font-size: 1vw;
}

.socials {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.socials section {
    width: 30vw;
    height: 115px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials img {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.social1 {
    background-color: #3F4E78;
}

.social2 {
    background-color: #2B2B2B;
}

.social3 {
    background-color: #F4EFE6;
}

.social4 {
    background-color: #1F3A34;
}
